.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: linen;
    padding: 5px;
}

.header {
    margin-bottom: 4em;
    background-color: mediumslateblue;
    height: 100%;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li a{
    text-decoration: none;
    font-size: 1.5 rem;
    color: black;
    font-weight: 800;
}
.article {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.text {
    flex-basis: 780px;
    margin-bottom: 20px;
}
.img {
    width: 200;
    height: 100;
}
h1,p,h2 {
    color: #610b21;
    padding-left: 20px;
}
.footer {
    background-color: ;
}

@media screen and (max-width:500px){
    .flex-container, .header, .article, {
        flex-wrap: wrap;
    }
    .nav a{
        width: 100%;
        margin-bottom: 5px;
    }
    nav {flex-direction: column;
        flex-wrap:wrap;
    }
}