@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&display=swap');

article {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.more {
    color: red;
}

#news {
    background-color: lightskyblue;
    padding: 5px 20px 10px 40px;
}
body {
    background-color: lightskyblue;
}

.h {
    color: blue;  
    border-bottom: 3px solid green;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
address {
    border: 1px solid black;
    padding: 0 10px;
    margin-bottom: 15px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
[type="text"]{
    width: 100%;
    height: 20px;
}
textarea {
    width: 100%;
}
[type="submit"] {
    padding:10px;
}